
<div class="container-fluid ">
  <main class=" position-relative  d-flex flex-column ">

    <div class="title d-flex flex-column" ngSwitch="{{weatherData.weather[0].main}}">
      <img *ngSwitchCase="'Clear'" class="img-fluid" src="../../assets/Clear.png" />
      <img *ngSwitchCase="'Clouds'" class="img-fluid" src="../../assets/Clouds.png" />
      <img *ngSwitchCase="'Smoke'" class="img-fluid" src="../../assets/Smoke.png" />
      <img *ngSwitchCase="'Snow'" class="img-fluid" src="../../assets/Snow.png" />
      <img *ngSwitchCase="'Drizzle'" class="img-fluid" src="../../assets/Drizzele.png" />
      <img *ngSwitchCase="'Rain'" class="img-fluid" src="../../assets/Rain.png" />
      <img *ngSwitchDefault class="img-fluid" src="../../assets/Clear.png" />

    </div>
    <div class="date align-self-start "> {{today | date:'medium' }}</div>
    <div class="location-name d-flex flex-column align-self-center ">
      <i class="fas fa-map-marker-alt "></i>
      <span>{{weatherData.name}}</span>
      <span class="weather">{{weatherData.weather[0].description}}</span>
    </div>

    <div class=" container d-flex flex-row justify-content-between   mb-2 ">

      <div class="max-temp ">
        <span>Max: </span>
        <span class="max">{{weatherData.main.temp_max}}<sup>&deg;</sup></span>
      </div>
      <div class="temp">
        <p> {{weatherData.main.temp}}<sup>&deg;</sup></p>
      </div>
      <div class="min-temp ">
        <span>Min: </span>
        <span class="min"> {{weatherData.main.temp_min}}<sup>&deg;</sup></span>
      </div>
    </div>

    <section class="feels container-fluid d-flex flex-row justify-content-between align-items-center ">
      <div class="feelsLike d-flex flex-column ">
        <span>feels like</span>
        <p>{{weatherData.main.feels_like}}<sup>&deg;</sup></p>
      </div>
      <div class="pressure">
        <span>pressure</span>
        <p> {{weatherData.main.pressure}}<sup>&deg;</sup></p>
      </div>
      <div class="humidity d-flex flex-column ">
        <span>humidity</span>
        <p> {{weatherData.main.humidity}}<sup>&deg;</sup></p>
      </div>
    </section>
  </main>
</div>